In [31]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd 
import numpy as np

In [32]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [33]:
model = load_model('model.h5')

In [34]:
with open('label_encoder_gender.pkl' , 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl' , 'rb') as file:
   onehot_encoder_geo = pickle.load(file)

with open('scaler.pkl' , 'rb') as file:
    scaler = pickle.load(file)

In [35]:
input_data = pd.DataFrame([input_data])

In [36]:
input_data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [37]:
input_data['Gender'] = label_encoder_gender.transform(input_data[['Gender']])

c:\Users\vansh\OneDrive\Desktop\projects\ANNCLASSIFIER project\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [38]:
input_data

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [39]:
geo_encoded = onehot_encoder_geo.transform(input_data[['Geography']]).toarray()

In [40]:
gender_encoded = pd.DataFrame(geo_encoded , columns= onehot_encoder_geo.get_feature_names_out())

In [41]:
gender_encoded

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [42]:
#concat
input_data = pd.concat([input_data.drop('Geography' , axis =1 ) , gender_encoded], axis =1 )

In [43]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [45]:
input_scaled = scaler.transform(input_data)

In [48]:
prediction=model.predict(input_scaled)

1/1 [==============================] - 0s 33ms/step

In [50]:
if prediction>0.5 :
    print('Likely to churn')
else :
    print('Not likely to churn')

Not likely to churn